<ion-header mode="ios">
  <ion-navbar transparent mode="ios">
    <ion-buttons left *ngIf="onlyShow">
      <button navPop ion-button icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title mode="ios">{{translation.lblPersonalInfo}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="lang=='tr'">
    <strong>KİŞİSEL VERİLERİN KORUNMASINA İLİŞKİN AYDINLATMA VE AÇIK RIZA METNİ </strong><br>
    <p>
      Kişisel verilerinizin gizliliği ve güvenliğine önem veriyoruz. 6698 sayılı Kişisel Verilerin Korunması Kanunu
      (“KVKK”) kapsamında MEDAK/Medikal Arama Kurtarma Derneği olarak Veri Sorumlusu sıfatıyla sizleri aydınlatmak
      istiyoruz. Kişisel verilerinizin, 6698 sayılı Kişisel Verilerin Korunması Kanunu uyarınca, Veri Sorumlusu
      sıfatıyla MEDAK tarafından hangi kapsamda işlenebileceği aşağıda açıklanmıştır.
    </p><br>
    <strong>I. Kişisel Verilerinizi Toplamamızın Yöntemi ve Hukuki Sebebi Nedir?</strong><br>
    <p>
      Kişisel verileriniz, uygulamaya ilişkin faaliyetlerimizi yürütmek adına MEDAK tarafından farklı kanallarla ve
      mevzuata ve dernek politikalarına uyumun sağlanması hukuki sebeplerine dayanılarak toplanmaktadır. KVKK gereğince,
      HERA uygulaması vasıtasıyla tarafımızla paylaşmış olduğunuz kişisel verileriniz, Veri Sorumlusu sıfatıyla
      tarafımızca, KVKK’da açıklandığı çerçevede; elde edilebilecek, kaydedilebilecek, depolanabilecek, muhafaza
      edilebilecek, hizmetlerimizin devamının sağlanabilmesi amacıyla güncellenebilecek, değiştirilmesi sağlanabilecek,
      yeniden düzenlenebilecek, mevzuatın izin verdiği durumlarda ve ölçüde üçüncü kişilere açıklanabilecek ve
      işlenebilecektir. Kişisel verileriniz, yalnızca KVKK tarafından öngörülen temel ilkelere uygun olarak ve KVKK’nın
      5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları kapsamında işbu Aydınlatma Metni’nde
      belirtilen amaçlarla işlenebilmekte ve aktarılabilmektedir. Genel olarak, kişisel verileriniz, derneğimiz
      tarafından yürütülmekte olan faaliyetlere bağlı olarak değişkenlik göstermekle birlikte, mevzuat, sözleşme ve
      teknoloji gerekliliklerine uygun olarak dernek birimlerinin yürüttüğü operasyon faaliyetlerini yerine getirebilmek
      için toplanabilmektedir.
    </p><br>
    <strong> II. Kişisel Verilerinizi Hangi Amaçla İşliyoruz? </strong><br>
    <p>
      Toplanan kişisel verileriniz, KVKK tarafından öngörülen temel ilkelere uygun olarak ve KVKK’nın 5. ve 6.
      maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dâhilinde, MEDAK tarafından aşağıda yer alan
      amaçlarla işlenebilmektedir:
    </p><br>
    <ul>
      <li>MEDAK’ın sahip olduğu yasal ve idari yükümlülüklerin mevzuata uygun olarak yerine getirmesi,</li>
      <li>Dernek içi koordinasyon, iş birliği ve verimliliğin sağlanması ve sürdürülmesi,</li>
      <li>Derneğin taraf olduğu sözleşmelere ve kanuna aykırılıkların soruşturulması, tespiti, önlenmesi ve ilgili idari
        veya adli makamlara bildirilmesi,</li>
      <li>Mevcut veya ileride meydana gelebilecek hukuki uyuşmazlıkların çözülmesi,</li>
      <li>Talep ve soruların cevaplandırılması,</li>
      <li>Derneğin ticari itibarının ve oluşturduğu güvenin korunması. </li>
    </ul>
    <strong>III. Kişisel Verilerinizi Kimlere ve Hangi Amaçla Aktarıyoruz?</strong><br>
    <p> Toplanan kişisel verileriniz; KVKK tarafından öngörülen temel ilkelere uygun olarak ve KVKK’nın 8. ve 9.
      maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dâhilinde, MEDAK tarafından yukarıda belirtilen
      amaçlarla; iş ortaklarımız, iş bağlantılarımız, ifa yardımcılarımız ve alt yüklenicilerimiz ile derneğimizin
      faaliyetleri doğrultusunda ya da düzenleyici denetleyici kurumlar ve resmi mercilerle ilgili mevzuatın öngördüğü
      durumlarda yurt içine veya yurt dışına aktarılabilecektir. Faaliyetlerimizi yürütebilmek amacıyla (örneğin bilgi
      sistemleri yönetimi ve depolanması, veri analizi vb. konularda destek almak) kişisel verilerinizi, 3. kişi hizmet
      sağlayıcılarına açıklayabiliriz. Bu aktarımlarda paylaşılan kişisel verilerin verilecek hizmetle sınırlı olmasına
      özen gösterilir ve aktarılan kişisel verilerinizin mevzuatın gerektirdiği şekilde korunması için tüm tedbirler
      alınır. </p><br>
    <p>
      Yukarıdaki bilgilendirme dokümanın tamamını okuduğunuzu, anladığınızı ve KVKK kapsamında kişisel verilerinizin;
      <br>Yukarıda belirtilen yöntemler ile toplanmasına ve yine yukarıda belirtilen amaçlar dâhilinde işlenmesine,
      <br>Yukarıda belirtilen yurtiçi ve yurtdışındaki üçüncü kişilere aktarılmasına, yine yukarıda belirtilen amaçlar
      dâhilinde yurtdışına aktarılmasına/paylaşılmasına,
      açık rıza verdiğinizi işbu metni imzalamak suretiyle açıkça beyan etmektesiniz.
    </p><br>
  </div>
  <div *ngIf="lang=='ar'">
    نص الإعلام المستنير والموافقة الواضحة
    حول حماية البيانات الشخصية (KVKK)<br>

    نحن نهتم بخصوصية وأمان بياناتكم الشخصية. ضمن القانون رقم 6698 بشأن حماية البيانات الشخصية (KVKK.) بصفتنا MEDAK/
    جمعية البحث والإنقاذ الطبي، نود أن ننوركم كموظفين مسؤولين البيانات. موضح أدناه ماهية المجالات التي يمكن معالجة
    بياناتك الشخصية فيها من قبل موظف مسؤول البيانات في MEDAK وفقًا للقانون رقم 6698 بشأن حماية البيانات الشخصية.<br>
    <br>I. ما هي الطريقة والسبب القانوني لجمع بياناتكم الشخصية؟
    يتم جمع بياناتكم الشخصية على أساس أسباب قانونية من قبل MEDAK لضمان الامتثال للقنوات والتشريعات المختلفة وسياسات
    الجمعية من أجل تنفيذ الأنشطة المتعلقة بالتطبيق وفقًا لـ KVKK، فإن بياناتكم الشخصية التي قمتم بمشاركتها معنا من خلال
    تطبيق HERA، بصفتنا كمسؤولين البيانات وكما هو موضح في إطار KVKK ؛ سنكون قادرين على الحصول عليها, تسجيلها, حفظها,
    وتخزينها بالإضافة الى إمكانية تحديثها, تغييرها, تعديلها, إعادة تنظيمها والإفصاح عنها الى أطراف ثالثة إذا كان ذلك
    مسموحًا به في التشريعات وضمن المدى المعمول به بهدف ضمان استمرارية خدماتنا. لا يمكن معالجة بياناتكم الشخصية ونقلها
    إلا للأغراض المنصوص عليها في نص الموافقة المستنيرة هذا وفقًا للمبادئ الأساسية المنصوص عليها من قبل KVKK ووفقًا لشروط
    وأغراض معالجة البيانات الشخصية المنصوص عليها في المادتين 5 و 6 من KVKK. بشكل عام وبالإضافة الى اختلاف بياناتكم
    الشخصية اعتمادًا على الأنشطة التي تقوم بها جمعيتنا ، فإنه يقد يتم جمعها من أجل أداء فعاليات وحدات الجمعيات وفقًا
    للتشريعات والعقود ومتطلبات التكنولوجيا.
    <br>II. لأي غرض نقوم بمعالجة بياناتكم الشخصية؟
    يجوز لـ MEDAK معالجة بياناتكم الشخصية للأغراض المذكورة أدناه وفقًا للمبادئ الأساسية المنصوص عليها في KVKK ووفقًا
    لشروط وأغراض معالجة البيانات الشخصية المنصوص عليها في المادتين 5 و 6 من KVKK:
    <br>• للوفاء بالالتزامات القانونية والإدارية لـ MEDAK بشكل مناسب للتشريعات،
    <br>• للضمان والحفاظ على التنسيق داخل الجمعية بالإضافة الى التعاون والكفاءة،
    <br>• التحقيق والكشف والوقاية والإبلاغ إلى السلطات الإدارية أو القضائية ذات الصلة بالاتفاقيات والأفعال غير القانونية
    التي تكون الجمعية طرفًا فيها،
    <br>• لحل النزاعات القانونية الحالية أو التي قد تطرأ في المستقبل،
    <br>• الرد على الأسئلة والطلبات،
    <br>• لحماية السمعة التجارية والثقة بالجمعية.
    <br>III. الى من ننقل بياناتكم الشخصية ولأية أغراض؟
    البيانات الشخصية الخاصة بكم التي تم جمعها وفقًا للمبادئ الأساسية المنصوص عليها في KVKK ووفقًا لشروط معالجة البيانات
    الشخصية والأغراض المنصوص عليها في المادتين 8 و 9 من KVKK، فإنه يمكن نقلها الى داخل أو خارج البلاد في الحالات المنصوص
    عليها في التشريعات المعمول بها ووكالات الرقابة التنظيمية وفقا لأنشطة جمعيتنا ومشاركتها مع شركائنا التجاريين, جهات
    الاتصال التجارية, مساعدين الأداء والمقاولين من الباطن للأغراض المذكورة أعلاه من قبل MEDAK. يجوز لنا الكشف عن
    بياناتكم الشخصية لمقدمي الخدمات من طرف ثالث بهدف تنفيذ أنشطتنا (مثل إدارة نظام المعلومات وتخزينه، تحليل البيانات،
    وما إلى ذلك). في عمليات النقل هذه، يتم الحرص على أن تقتصر البيانات الشخصية المشتركة على الخدمة التي يتم تقديمها، كما
    يتم اتخاذ جميع التدابير الضرورية من أجل حماية بياناتكم الشخصية كما هو مطلوب بموجب التشريعات.

    <br>
    قرائتكم وفهمكم لكامل وثيقة الموافقة المستنيرة, ومن الناحية المتعلقة ببياناتكم الشخصية ضمن نطاق KVKK؛
    <br>• فإنكم تعربون بوضوح عن موافقتكم الصريحة بواسطة التوقيع على هذا النص عن:
    <br>• أنه يجوز جمع بياناتكم الشخصية بالأساليب المذكورة أعلاه وإمكانية معالجتها وفقا للأغراض المذكورة أعلاه أيضا,
    مشاركتها مع الأطراف الثالثة المذكورة أعلاه داخل وخارج البلاد بالإضافة الى مشاركتها/ نقلها الى خارج البلاد وفقا
    للأغراض المذكورة أعلاه أيضا.

  </div>
  <div *ngIf="lang=='en'">
    <strong>CLARIFICATION AND EXPRESS CONSENT TEXT
      FOR THE PROTECTION OF PERSONAL DATA</strong>
    <br>
    We care about the privacy and security of your personal data. Under the Law on the Protection of Personal Data No.
    6698 ("LPPD"), we would like to enlighten you as MEDAK / Medical Search and Rescue Association in the capacity of
    Data Supervisor. In accordance with the Law on the Protection of Personal Data No. 6698, the extent to which MEDAK
    may process your personal data in the capacity of Data Supervisor is explained below.<br>
    <strong> I. What are the Method and the Legal Reason of Collecting Your Personal Data by Us?</strong><br>
    MEDAK collects your personal data to carry out our activities on the basis of legal reasons to ensure compliance
    with different channels, legislation, and association policies. As per LPPD, the personal data you have shared with
    us via the HERA application may be obtained, recorded, stored, maintained, updated for the continuation of our
    services, modified, reorganized, disclosed to third parties in the cases and to the extent permitted by the
    legislation and processed by us in the capacity of Data Supervisor within the framework defined in LPPD. Your
    personal data may only be processed and transferred for the purposes set out in this Clarification Text in
    accordance with the basic principles stipulated by the LPPD and within the scope of the personal data processing
    conditions and purposes set forth in Articles 5 and 6 of the LPPD. Although it may vary depending on the activities
    carried out by our Association, generally, your personal data may be collected to perform the operational activities
    carried out by the Association units in accordance with the legislation, contract, and technological requirements.
    <strong>II. For What Purpose Do We Process Your Personal Data?</strong><br>
    MEDAK may only process your personal data for the purposes set out below in accordance with the basic principles
    stipulated by the LPPD and within the scope of the personal data processing conditions and purposes set forth in
    Articles 5 and 6 of the LPPD:
    <ul>
      <li>Fulfillment of the legal and administrative obligations of MEDAK in accordance with the legislation,</li>
      <li>Ensuring and maintaining coordination, cooperation, and efficiency within the Association,</li>
      <li>The investigation, detection, prevention and notification to the relevant administrative or judicial authorities
          of the contradictions to the law in the contracts to which the Association is a party,</li>
          <li>Elimination of legal disputes that may exist or may occur in the future,</li>
          <li>Responding to questions and requests,</li>
          <li>Protection of the commercial reputation and the developed trust of the Association.</li>
    </ul>
    <strong>III. To Whom and For What Purposes Do We Transfer Your Personal Data?</strong><br>
    Your personal data collected may only be transferred by MEDAK for the purposes set out above in accordance with the
    basic principles stipulated by the LPPD and within the scope of the personal data processing conditions and
    objectives set forth in Articles 8 and 9 of the LPPD to our business partners, business contacts, performance
    assistants and subcontractors and to home or abroad in accordance with the activities of our Association or in the
    cases stipulated by the legislation on regulatory-supervisory authorities and governmental entities. We may disclose
    your personal data to third party service providers to conduct our activities (for instance to get support on issues
    such as management and storage of information systems, data analysis, etc.). These transfers ensure that your shared
    personal data is limited to the service to be provided, and all necessary measures are taken to protect your
    personal data as required by the legislation.
    <br>
    By signing this text, in accordance with LPPD, you hereby explicitly declare that you have read, understood and
    given express consent to
    <ul>
      <li>the collection and processing of your personal data using the methods mentioned above,</li>
      <li>the transfer of your personal data to the above-mentioned third parties home and abroad and the
          transference/sharing of your personal data to the elsewhere within the scope of the purposes mentioned above,</li>
    </ul>
  </div>

</ion-content>

<ion-footer padding text-center *ngIf="!onlyShow">
  <button ion-button (click)="next()">{{translation.btnAccept}}</button>
</ion-footer>