page-asi-takvimi {
    
    .fixed-content {
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        opacity: .45;
        &:after {
            content: "";
            background-image: url(../assets/imgs/avatarbg2.svg);
            background-repeat: no-repeat;
            background-position: center -86px;
            width: 100%!important;
            height: 100%!important;
            left: 0!important;
            top: -40px!important;
            position: absolute;
            z-index: -1;
            opacity: .55;
        }
    }
    .scroll-content {

    }

    .toolbar[transparent] .toolbar-background {
        border-color: transparent;
        background: transparent;
    }

    ion-content {
        background-color: #fff!important;
    }

    .logo 
    {
        width: 25vh;
        margin: -2vh auto 2vh auto;
        text-align: center;

        ion-icon {
            font-size: 48px;
            border-radius: 50%;
            color: #fff;
            width: 64px;
            height: 64px;
            line-height: 64px;
            background: #3ca8bf;
        }

    }

    ion-calendar {
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 32px -5px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 32px -5px rgba(0, 0, 0, 0.3);
        margin: 0px 20px 15px 20px;
        width: auto;
    }



    .item {
        h2 {
            font-weight: 500;
            color: #333 !important;
        }
        p {
        overflow: inherit;
        font-size: 1.4rem;
        line-height: 2rem;
        text-overflow: inherit;
        white-space: normal;
        color: #8e9093;
        margin: 0 48px 2px 0;
        color: #3ca8bf !important;
        }

        ion-icon {
            float: left;
            margin: 12px 10px 30px 10px;
        }
    }
  
      .item-ios h2 {
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 45px;
  }
  
      #map {
      height: 30vh!important;
      width: 320px;
      background-color : transparent;
      background-color: #dadada;
    }
    .item .item-inner {
    //background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012%2020'><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23c8c7cc'/></svg>");
    padding-right: 32px;
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 14px 14px;
  }
  ion-thumbnail img {
      display: block;
      width: 140px;
      height: auto;
  }
  .distance {
      background-color: #e4e4e4;
      border-radius: 8px;
      padding: 3px;
      font-size: .7em;
      color: #333;
      margin-top: 5px;
      position: absolute;
      right: 34px;
      bottom: 50%;
      transform: translateY(50%);
  }
      /*
      .distance:after { content:" m";  }
      */
     
      .fav {
      border-radius: 4px;
      color: #f4a524;
      border: 1px solid #f4a524;
      background-color: transparent;
      margin-top: 3px;
      font-size: 10px;
      }
      .status {
      overflow: hidden;
      width: 0px;
      height: 10px;
      right: 90px;
      margin: 1px !important;
      padding: 0;
      text-indent: -999px;
      border-radius: 50%;
      }
      .status.online { background-color: #aae003; }
      .status.offline { background-color: #f44336; }
      .loading {
          width: 100%;
          min-height: 90vh;
          text-align: center;
          font-size: 16px;
          padding: 20vh 0;
  
          .spinner {
              background-color: #333;
              border-radius: 10px;
              color: #fff;
              
          }
        ion-spinner * {
            width: 28px;
            height: 28px;
            stroke: #444;
            fill: #fff;
        }
      }
  
      .item:focus, .item:hover { background-color: #e8e8e8; }
  

}
