page-sp-rapor {
    .fixed-content {
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        opacity: .45;
        &:after {
            content: "";
            background-image: url(../assets/imgs/avatarbg2.svg);
            background-repeat: no-repeat;
            background-position: center -16px;
            width: 100%!important;
            height: 100%!important;
            left: 0!important;
            top: -40px!important;
            position: absolute;
            z-index: -1;
            opacity: .55;
        }
    }
    .scroll-content {

    }

    .toolbar[transparent] .toolbar-background {
        border-color: transparent;
        background: transparent;
    }

    ion-content {
        background-color: #fff!important;
    }

    .logo 
    {
        width: 209px;
        margin: 11px auto -1vh auto;
        text-align: center;

        img { 
            opacity: .75;
        }

    }

    h2 {
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        color: #616161;
        text-align: center;
        padding: 20px 10px;
    }

    .callButton {
        max-width: 230px;
        margin: 0 auto;

        ion-icon[start] {
            position: absolute;
            left: 15px;
        }
        ion-icon[end]{
            position: absolute;
            right: 15px;
        }
    }


}
